<div class="w-full bg-[#2c2f33] mt-14 grid lg:grid-cols-12 grid-cols-1 p-5">
    <div class="col-span-3 text-gray-400 lg:border-r-[1px] border-b-[1px] lg:border-b-0 border-gray-400 px-5 py-5 lg:py-0">
        <ul class="list-disc">
            <li><p><a href="https://store.steampowered.com" target="_blank" class="hover:text-gray-300">Steam Official Website</a></p></li>
            <li><p><a href="https://steamcommunity.com/dev" target="_blank" class="hover:text-gray-300">Steam API docs</a></p></li>
            <li><p><a href="https://steamapi.xpaw.me/" target="_blank" class="hover:text-gray-300">Steam Web API</a></p></li>
        </ul>
    </div>

    <div class="col-span-3 text-gray-400 lg:border-r-[1px] border-b-[1px] lg:border-b-0 border-gray-400 px-5 py-5 lg:py-0">
        <p><span class="text-[#66c0f4]">Maintained by</span> <a href="https://github.com/Gustavo2022003" target="_blank" class="hover:text-gray-300">@Gustavo2022003</a></p>
        <p><span class="text-[#66c0f4]">Hosted by</span> <a href="https://render.com/" target="_blank" class="hover:text-gray-300">@Render</a></p>
        <p><span class="text-[#66c0f4]">Powered</span> <a href="https://www.docker.com/" target="_blank" class="hover:text-gray-300">@Docker</a></p>
    </div>

    <div class="col-span-3 text-gray-400 lg:border-r-[1px] border-b-[1px] lg:border-b-0 border-gray-400 px-5 py-5 lg:py-0">
        <p><span class="text-[#66c0f4]">Pages</span><br><a href="/home" class="hover:text-gray-300">Home</a><br><a href="/troubleshooting" class="hover:text-gray-300">Troubleshooting</a></p>
    </div>

    <div class="col-span-3 text-gray-400 px-5 py-5 lg:py-0">
        <p><span class="text-[#66c0f4]">Info</span><br><a href="https://github.com/Gustavo2022003/SteamWaste" class="hover:text-gray-300" target="_blank">GitHub repository</a></p>
        <p>Made with FastAPI and Tailwind</p>
    </div>

</div>