<div id="navbar" class="flex flex-row justify-between mb-10 bg-[#2c2f33] p-5">
    <a href="/home">
        <div class="flex flex-row gap-5 items-center">
            <img src="/public/assets/images/steam_logo_white.svg" alt="Steam logo" class="max-h-10">
            <p class="steam-font text-2xl">Steam wa<span class="text-red-400">$</span>te</p>
        </div>
    </a>

    <div>
        <a href="https://store.steampowered.com/?l=portuguese" target="_blank">
            <div class="transition-all duration-300 outline-1 outline-[#66c0f4] hover:bg-[#66c0f419] py-1 px-2 rounded-md text-center lg:text-start">
                <p class="">Steam official page</p>
            </div>
        </a>
    </div>

</div>