<div class="bg-[#ffffff09] backdrop-blur-3xl w-full lg:w-5/12 mx-auto rounded-md p-10 gap-5 flex flex-col items-center justify-center">
    <p class="steam-font"><span class="text-[#f1c40f] underline underline-offset-4">Warning:</span></p>
    <div class="text-center flex flex-col gap-2">
        <p class="text-gray-400">The account must be public in order for the search to work</p>
        <p class="text-gray-400">You need to provide the <a href="https://store.steampowered.com/account/" target="_blank" class="underline underline-offset-2 hover:text-gray-200 text-[#66c0f4]">Steam ID</a>, not the username</p>
        <p class="text-gray-300 font-bold">We strongly recommend to <a href="https://github.com/Gustavo2022003/SteamWaste" target="_blank" class="text-[#66c0f4] underline"> run this app locally</a></p>
        <p class="text-gray-400">If you are having issues please read the <a href="/troubleshooting" class="hover:text-gray-300 underline underline-offset-2 text-[#66c0f4]">Troubleshooting</a> page</p>
    </div>
</div>